.predictQuestion {
    background-color: rgb(165, 165, 165);
    width: fit-content;
    padding: 10px;
    margin: 7px;
    display: grid;
    grid-gap: 10px;
    border-radius: 10px;
}

label {
    font-weight: bold;
}